################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/RailGun/v16
/RailGun/x64/Release
/RailGun/tmp/Release
/RailGun/data/CarPack
/RailGun/bin/Release
